body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.background {
  background-color: lightblue;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-box {
  background-color: rgb(187, 136, 85);
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-height: 100%;
  overflow-y: auto;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}


.infinite-scroll {
  animation: scrollDown 20s linear infinite;
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 136, 85);
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
}

@keyframes scrollDown {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

body {
  overflow: hidden;
  height: 100vh;
}