body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.background {
  background-color: whitesmoke;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-y: auto;
  padding: 20px 0; 
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkblue;
  overflow: hidden;
  z-index: 1000;
}

/* Style for links*/
.navigation-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style upon hovering over link*/
.navigation-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style of current page*/
.navigation-bar a.active {
  background-color: lightblue;
  color: white;
}



.infinite-scroll {
  /* animation: scrollDown 20s linear infinite; */
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 136, 85);
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-height: 100%;
  margin: 0 auto;
}



/* @keyframes scrollDown {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100%); }
} */


/* 
.content-box {
  background-color: rgb(187, 136, 85);
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-height: 100%;
  overflow-y: auto;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
} 
*/