body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.background {
  background-color: blue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
